$p-text-color: var(--color-text-300);

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    padding: 1.5rem;

    svg {
        width: 100%;
        max-width: 526px;
    }
}

.text {
    text-align: center;

    h1 {
        color: white;
        font-size: 4rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    p {
        color: $p-text-color;
    }
}
