$btn-primary-bg-color: var(--color-bg-500);
$btn-primary-hover-bg-color: var(--color-bg-600);
$btn-primary-text-color: var(--color-text-900);
$btn-neutral-hover-bg-color: var(--color-bg-secondary);

$btn-secondary-bg-color: var(--color-bg-primary);
$btn-secondary-text-color: var(--color-text-regular);
$btn-secondary-border-color: var(--color-bg-primary);
$btn-secondary-hover-color: black;

.btn {
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    white-space: nowrap;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    transition: 0.2s ease;

    &:active {
        scale: 0.98;
    }
}

.primary {
    background-color: $btn-primary-bg-color;
    color: $btn-primary-text-color;

    &:hover {
        background-color: $btn-primary-hover-bg-color;
        cursor: pointer;
    }
}

.neutral {
    background-color: transparent;
    color: var(--color-white);

    &:hover {
        background-color: $btn-neutral-hover-bg-color;
    }
}

.disabled {
    background-color: var(--color-bg-600);
    opacity: 0.5;
    cursor: default;
    color: $btn-primary-text-color;
    pointer-events: none;
}

.secondary {
    background-color: $btn-secondary-bg-color;
    border: 1.5px solid $btn-secondary-border-color;
    color: $btn-secondary-text-color;

    &:hover {
        background-color: $btn-secondary-hover-color;
    }
}

/* 
.neutral {
    background-color: transparent;
    border: 1px solid $btn-border-color;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        background-color: $btn-neutral-hover-bg-color;
        color: $btn-neutral-hover-text-color;
        border: 1px solid $btn-neutral-hover-text-color;

        path {
            stroke: $btn-neutral-hover-text-color;
        }
    }
} */
