:root {
    --color-white: #ffffff;
    --color-error: #f2708a;

    /* Background */
    --color-bg-primary: #141517;
    --color-bg-secondary: #313538;
    --color-bg-secondary-300: #3a3d43;
    --color-bg-secondary-400: #171c1e;
    --color-bg-500: #53fc18;
    --color-bg-600: #42ca13;

    /* Text */
    --color-text-regular: #ffffff;
    --color-text-100: #d3d8db;
    --color-text-300: #aab0b6;
    --color-text-400: #929ea6;
    --color-text-900: #081902;
    --color-text-placeholder: #d1d5db;

    /* Border */
    --color-border-regular: #494d54;
    --color-border-secondary-400: #8f969e;
    --color-border-secondary-500: #232628;
    --color-border-secondary-700: #494d55;

    /* Fill */
    --color-fill-overlay: #000000bf;
    --color-fill-overlay-200: #070809cc;
}
