$box-bg-color: var(--color-bg-secondary);

.left,
.right,
.links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.links {
    padding-right: 1rem;
    margin-right: 1.5rem;
    border-right: 1px solid $box-bg-color;
}

.rightComp {
    display: none;
}

.left img {
    cursor: pointer;
}

.middle {
    max-width: 26.25rem;
    width: 100%;
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    transition: 0.2s ease;

    &:hover {
        background-color: $box-bg-color;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .middle,
    .right {
        display: none;
    }

    .rightComp {
        display: flex;
        align-items: center;

        > svg:last-child {
            cursor: pointer;
        }
    }
}
