$modal-bg-color: var(--color-bg-secondary-400);
$text-color: var(--color-white);
$border-color: var(--color-border-regular);
$tab-active-border-color: var(--color-bg-500);
$filter-fill-color: var(--color-fill-overlay);
$tab-hover-border-color: var(--color-border-secondary-400);
$icon-box-bg-color: var(--color-bg-secondary);

.popupLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    padding: 1rem;
    position: fixed;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease;

    &.show {
        opacity: 1;
        pointer-events: auto;

        .modal {
            transform: scale(1);
        }
    }

    &.hide {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: scale(0.9);
        }
    }
}

.modal {
    background-color: $modal-bg-color;
    width: 27.5rem;
    max-height: fit-content;
    height: 100%;
    border-radius: 0.25rem;
    padding: 1.5rem;
    color: $text-color;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    z-index: 4;
    transform: scale(0.9);
    transition: transform 0.2s ease;
    position: relative;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .iconBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        transition: 0.2s ease;
        border-radius: 0.1rem;

        &:hover {
            cursor: pointer;
            background-color: $icon-box-bg-color;
        }
    }
}

.tabsNavigation {
    display: flex;
    gap: 1.6rem;
    border-bottom: 2px solid $border-color;

    .tab {
        display: flex;
        align-items: center;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        white-space: nowrap;
        cursor: pointer;
        height: 2.75rem;
        display: flex;
        transform: translateY(2px);
        border-bottom: 2px solid transparent;
        transition: 0.2s ease;

        &.active {
            border-color: $tab-active-border-color;
        }

        &:hover:not(.active) {
            border-color: $tab-hover-border-color;
        }
    }
}

.contentWrapper {
    overflow-y: auto;
    max-height: fit-content;
    height: 100%;
    width: calc(100% + 1rem);
    transform: translateX(-0.5rem);
    padding-inline: 0.5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.darkFilter {
    background-color: $filter-fill-color;
    position: fixed;
    inset: 0;
    z-index: 3;
    cursor: pointer;
}
